* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-none {
    text-decoration: none;
    margin: 0;
    padding: auto;
}
:root{
    --header-color:#000;
    --base-theme:#ececec;
    --color-theme: #1010ff;
}

body{
    font-family: sans-serif;
    background: var(--base-theme);
    color: var(--color-theme);
}

/* header {
    background: var(--header-color);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo {
    width: 100px;
    height: 50px;
    left: 10px;
    position: absolute;
}


.navigation-section-inner {
    padding: 10px 1.25rem 10px 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section div {
    padding: 10px;
    color: #fff;
    transition: 0.5s;
    margin: 10px;
    position: relative;
}

.login-section div:before {
    content: "";
    width: 100%;
    height: 0;
    background-color: #fff;
    display: block;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}

.login-section div:hover {
    color: rgb(245, 237, 237);
}

.login-section div:hover:before {
    height: 100%;
}


.section-title{
    padding: 5px;
    width: fit-content;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}
.section-title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    bottom: 0;
    left: 0;
}
.section-title::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: #03A9F4;
    bottom: 0;
    left: 25%;
    transition: 0.5s;
}
.section-title:hover::after{
    width: 100%;
    left: 0;
}
.section-title:hover{
    cursor: pointer;
}
.body-section {
    padding: auto;
    margin-top: 10%;
}

.about-us{
    grid-area: aboutus;
}

.about-us-content{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: '. banner banner aboutus aboutus .';
}
 */

.image-scrap {
    width: 200px;
    height: 200px;
}
.bg-img {
    background-image: url('/static/img/hero-img.png');
    height: 300px;

}


/* modal chatbot */
.modal-dialog {
    position: fixed;
    
    float: right;
    margin: auto;
    width: 220px;
    height: 90%;
    right: 0px;
}
.modal-content {
    height: 100%;
    width: 540px;
    background-color: #000;
}

.modal-body {
    background-color: #000;
    color: #3991bd;
}
.helper {
    background-color: #003366;
    display: none;
    color: #000;
    padding: 15px 20px ;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 100px;
    z-index: 1000;

}


.footer-bot {
    margin-bottom: 5%;
    position: fixed;
    display: inline;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 10px;
    background-color: #003366;
    padding: 10px;
}
.body-bot {
    scroll-behavior: auto;
    height: 380px;
    overflow: scroll;
    color: #000;
    position: relative;
    max-width: 400px;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    
    box-shadow: 0px 1px 5px 5px #ececec;
    position: relative;
    margin-bottom: 30px;

}
.message.left {
    padding: 15px 2px 15px 7px;
    margin-left: 10px;
    background-color: rgb(171, 150, 154);
    border-radius: 20px 10px 10px 10px;
}

.message.right {
    align-self: flex-end;
    padding: 15px 7px 15px 20px;
    margin-right: 20px;
    background-color: rgb(77, 48, 53);
    border-radius: 10px 20px 10px 10px;
}

.message p{
    margin: 0;
}
.input-bot {
    width: 80%;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

.contain{
    display: inline;
    padding: 10px;
    width: 50px;
    color: #003366;
}

@media only screen and (max-width:800px){
    .modal-dialog {
        position: fixed;
        float: right;
        margin: auto;
        width: 100%;
        height: 100%;
        right: 0px;
    }
    .modal-content {
        height: 100%;
    }
    .cards-wrapper {
        display: inline-block;
        justify-content: center;
      }
      .card img {
        max-width: 100%;
        max-height: 100%;
      }
}



 /* about me image card */

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
/* 
.footer{
    height: fit-content;
    background: rgb(15, 1, 1);
    color: rgb(214, 195, 195);
    padding: 10px;
}

.media{
    display: flex;
    width: fit-content;
    margin: 10px auto 10px auto;
    
}
.contact{
    display: inline-block;
    max-width: 500px;
    width: 100%;
}


.contact div .fa{
    width: 30px;
    height: 30px;
    margin: 0.5em;  
    margin-right: 5px;
}
.txt-center {
    text-align: center;
    margin: auto;
    padding: auto;
}

.contact div{
    display: flex;
    align-items: center;
}
.media a .fa{
    width: 100px;
    height: 60px;
    margin: 0.5em;
    font-size: 20px;
}



.navbar {
    display:flex;
    align-items:center;
    padding:20px;
}

nav {
    flex:1;
    text-align:right;
}

nav ul {
    list-style:none;
    display:inline-block;
}

nav ul li {
    display:inline-block;
    margin-right:20px;
}

a {
    text-decoration:none;
    color:#555;
}

p {
    color:#555;
}

.container {
    max-width:1300px;
    margin:0;
    padding:0 25px;
}

.row {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.col-2 {
    flex-basis:50%;
    min-width:300px;
}

.col-2 img {
    max-width:100%;
    padding:50px 0;
}

.col-2 h1 {
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
.btn {
    background:#ff523b;
    display:inline-block;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:30px;
    transition:background 0.5s;
}

.btn:hover {
    background:#563434;
}

.header .row {
    margin-top:70px;
}

.categories {
    margin:70px 0;
}

.col-3 {
    flex-basis:30%;
    margin-bottom:30px;
    min-width:250px;
}

.col-3 img {
    width:100%;
}

.small-container {
    max-width:1080px;
    margin:auto;
    padding:0 25px;
}

.col-4 {
    flex-basis:25%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}

.col-4 img {
    width:100%;
}

.title {
    text-align:center;
    margin:0 auto;
    position:relative;
    line-height:60px;
    color:#555;
}

.title::after {
    content:"";
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%);
}

h4 {
    color:#555;
    font-weight:normal;
}

.col-4 p {
    font-size:14px;
}

.rating .fa {
    color:#ff523b;
}

.col-4:hover {
    transform:translateY(-5px);
}



.offer {
    margin-top:80px;
    background:radial-gradient(#fff,#ffd6d6);
    padding:30px 0;
}

.col-2 .offer-img {
    padding:50px;
}

small {
    color:#555;
}

@media only screen and (max-width:800px){
    nav ul {
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:#333;
        overflow:hidden;
        transition:max-height 0.5s;
    }
    
    nav ul li {
        margin-top:10px;
        margin-bottom:10px;
        margin-right:50px;
        display:block;
    }
    
    nav ul li a {
        color:#fff;
    }
    
    .menu-icon {
        display:block;
        cursor:pointer;
    }
}
*/
